{% extends 'core/basic_template.html' %}
{% load static %}
{% block extra_header %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
    <script src='http://code.jquery.com/jquery-1.11.3.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js'></script>
    <script src={% static 'core/js/pt-br.js' %}></script>
{% endblock %}
{% block h1 %}
    calendário de reservas
{% endblock %}
{% block lead %}
    veja as reservas agendadas e procure datas disponíveis
{% endblock %}
{% block main_content %}
    <div class="container text-center">
        <div id='calendar'></div>
    </div>
    <script>
        $(document).ready(function() {
            function addDays(date, days) {
                var result = new Date(date);
                result.setDate(result.getDate() + days);
                return result;
            }

            $('#calendar').fullCalendar({
                locale: 'pt-br',
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay',
                },
                events: [
                {% for reserva in reservas %}
                    {
                        title : '{{ reserva.name }}',
                        start : '{{ reserva.start_date|date:'Y-m-d' }}',
                        end : '{{ reserva.end_date|date:'Y-m-d' }}',
                        color: '{{ reserva.quarto.color|default:'darkblue' }}',
                        url: '{% url 'api:reserva-list' %}{{ reserva.id }}',
                            allDay : false,
                        {% if reserva.status == 'canceled' %}
                            borderColor: 'red',
                            textColor: 'darkred',
                        {% else %}
                            borderColor: 'black',
                            textColor: 'black'
                        {% endif %}
                    },
                    {
                        title : 'saída do {{ reserva.name }}',
                        start : addDays('{{ reserva.end_date|date:'Y-m-d' }}', 1),
                        end : addDays('{{ reserva.end_date|date:'Y-m-d' }}', 1),
                        color: '{{ reserva.quarto.color|default:'darkblue' }}',
                        url: '{% url 'api:reserva-list' %}{{ reserva.id }}',
                            allDay : false,
                        {% if reserva.status == 'canceled' %}
                            borderColor: 'red',
                            textColor: 'darkred',
                        {% else %}
                            borderColor: 'black',
                            textColor: 'black'
                        {% endif %}
                    },
                {% endfor %}
              ]
            })
        });
    </script>
{% endblock %}
